@page "/"
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1>Cookie Authentication APP!</h1>

Welcome to your new app. 
<br />
@HttpContext.User.Identity?.Name

@code {
	[CascadingParameter]
	public HttpContext HttpContext { get; set; } = default!;
}