@page "/signin"

@inject NavigationManager NavigationManager
@inject ICookieAuthService CookieAuthService

<h3>Sign In</h3>
<div class="card w-25">
	<div class="card-body">
		<EditForm method="post" OnSubmit="SignInAsync" Model="User" FormName="SignIn" class="w-100">
			<InputText @bind-Value="User.Login" placeholder="Username" class="form-control" />
			<br />
			<InputText @bind-Value="User.Password" placeholder="Password" class="form-control" />
			<br />
			<button type="submit" class="btn btn-primary mt-2 w-100">Sign In</button>
		</EditForm>
	</div>
</div>

@code {
	[SupplyParameterFromForm]
	public SignInRequest User { get; set; } = new();

	public async Task SignInAsync()
	{
		await CookieAuthService.SignInAsync(User.Login!, User.Password!);

		NavigationManager.NavigateTo("/");
	}
}
